<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839440398189-7vdu3583ucq5r5u4tj6s3fj1kra2lt81.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839440398189-7vdu3583ucq5r5u4tj6s3fj1kra2lt81</string>
	<key>API_KEY</key>
	<string>AIzaSyCkWnWkTFdlRw7o4bSnBtaFJavelgVGpEY</string>
	<key>GCM_SENDER_ID</key>
	<string>839440398189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.reactNativePushdyExample</string>
	<key>PROJECT_ID</key>
	<string>react-native-pushdy-example</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-pushdy-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:839440398189:ios:7ed17644bd2d7c907a8c64</string>
	<key>DATABASE_URL</key>
	<string>https://react-native-pushdy-example.firebaseio.com</string>
</dict>
</plist>
